{% extends './base.html' %} {% block title%} Usuario {% endblock %} {% block container %}
<div>
    <div class="row">
        <div style="width: 300px;" class="col">
            <h3>Usuario:</h3>

            <table class="table-sm">
                <thead>
                    <tr>
                        <th>Id_cliente</th>
                        <th>Nombre</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" col ">
            <div>
                <h6>Menu</h6>
                <p>1. 600ml</p>
                <p>2. 1 litro</p>
                <p>3. 1.5 litros</p>
                <p>4. Salir</p>
                <from method="POST">
                    {% from "_macro.html" import render_field %}
                    <p>
                        {{ render_field(form.opcion1, id="opcion1 ") }}
                        <button type="submit ">Activar</button>
                    </p>
                </from>


            </div>

        </div>
    </div>
    {% endblock %}