<div class="headerr">
    <div class="message" itemprop="water">
        <center>
            <font color="black">
                <h1>Llenando Botella</h1>
            </font>
        </center>
        <center>
            <font color="black">
                <h3>1 Litro</h3>
            </font>
        </center>
    </div>
    <div class="image_1" itemprop="image">
        <center><img src="{{ url_for('static', filename='images/agua.gif') }}" width="600" height="300" alt="Image of Bannner"></center>
    </div>
    <div id="owl-four-nav" class="owl-nav"></div>
</div>